@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f0e1;
}

#todo-heading{
    display: inline-block;
    font-weight: bold;
}

#add-to-do{
    border: none;
    width: 50px;
    color: #f5f0e1;
    background-color: #ff6e40;
    border-radius: 100%;
    float: right;
    box-shadow: 5px 10px 5px -4px rgb(0 0 0 / 20%);
}

#add-project-container{
    margin-top: 20px;
}

#add-project-flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#add-project-input-container{
    display: none;
    align-items: center;
    justify-content: center;
}

.project-add-confirm-buttons{
    height: 40px;
    padding: 1px;
    font-size: 26px;
    margin-left: 10px;
}



.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 2px 5px 15px 8px rgba(0,0,0,0.24);
}

.close-modal:focus, .close-modal:hover{
    color: #ff6e40;
    text-decoration: none;
    cursor: pointer;
}

#add-project-button{
    width: 120px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}

#add-project-input{
    width: 70%;
    height: 45px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    border-radius: none;
}

#todo-container{
    height: 85%;
    padding: 20px;
    padding-left: 50px;
}

.to-do-actions{
    margin-left:auto;
    color: #ff6e40;
}

.icon{
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.to-do-obj{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddcc9a;
    margin-bottom: 28px;
}


.close-modal{
    float:right;
}

.modal-view{
    /* display: flex; */
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    background-color: rgba(0,0,0,0.24);
}

.modal-title{
    width: 90%;
    font-size: 50px;
    font-weight: bold;
    position: relative;
}

.to-do-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.to-do-input{
    font-family: 'Source Sans Pro', sans-serif;
    height: 45px;
    width: 100%;
    font-size: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 20px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.to-do-input:focus{
    border-color: #ff6e40;
}

#submit-create-to-do{
    background-color: #ff6e40;
    color: white;
    width: 160px;
    margin: 30px 30px 18px 0px;
    padding-right: 15px;
}

textarea{
    resize: vertical;
    padding-top: 2%;
}

.details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    margin: 20px 0px 12px 0px;
    font-size: 30px;
}

.modal-title::before{
    content: '';
    position:absolute;
    height: 3px;
    width: 30px;
    left: 0; 
    bottom: 0;
    background-color: #ff6e40;
}

.modal-container{
    display: inherit;
}

.modal{
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#to-do-title-bar{
    margin-top: 5vh;
}

input[type='checkbox']{
    float: left;
    margin-right: 20px;
}

.to-do-name{
    font-size: 19px;
}

#content{
    position: absolute;
}

#main-view{
    margin-left: 9vw;
    margin-right: 9vw;
    height: 100%;
}

input [type=checkbox]{
    float: left;
    margin-top: 10px;
}

.project-list{
    list-style: none;
    margin-top: 2vh;
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 1vh;
}

#todo-view{
    height: 94vh;
    overflow: hidden;
}

.modal-header{
    padding: 15px;
    background-color: #ff6e40;
}

.modal-body{
    padding: 10px 20px 10px 20px;
}

#home-logo{
    color:#ff6e40;
    margin-left: 10px;
}

#to-do-list-container{
    margin-top: 4vh;
    list-style: none;
}

#sidebar{
    float: left;
    background-color: rgb(236, 229, 205);
    width: 300px;
    height: 94vh;
}

#modal{
    height: 500px;
    width: 300px;
}

#nav-bar{
    min-height: 50px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #1e3d59;
}


#title{
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 2.5px;
    padding: 20px;
}
