@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f0e1;
}

#todo-heading{
    display: inline-block;
}

#add-to-do{
    border: none;
    width: 50px;
    color: #f5f0e1;
    background-color: #ff6e40;
    border-radius: 100%;
    float: right;
    box-shadow: 5px 10px 5px -4px rgb(0 0 0 / 20%);
}

#add-project-container{
    margin-top: 20px;
}

#add-project-flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#add-project-input-container{
    display: none;
    align-items: center;
    justify-content: center;
}

.project-add-confirm-buttons{
    height: 40px;
    padding: 1px;
    font-size: 26px;
    margin-left: 10px;
}

#add-project-button{
    width: 120px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}

#add-project-input{
    width: 70%;
    height: 45px;
    padding: 5px;
    font-size: 20px;
}

#todo-container{
    height: 85%;
    padding: 20px;
    padding-left: 50px;
}

.to-do-obj{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#to-do-title-bar{
    margin-top: 5vh;
}

input[type='checkbox']{
    float: left;
    margin-right: 20px;
}

.to-do-name{
    font-size: 25px;
}

#main-view{
    margin-left: 9vw;
    margin-right: 9vw;
    height: 100%;
}

input [type=checkbox]{
    float: left;
    margin-top: 10px;
}

.project-list{
    list-style: none;
    margin-top: 2vh;
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 1vh;
}

#todo-view{
    height: 95vh;
    overflow: hidden;
}

#home-logo{
    color:#ff6e40;
    margin-left: 10px;
}

#to-do-list-container{
    margin-top: 4vh;
    list-style: none;
}

#sidebar{
    float: left;
    background-color: rgb(236, 229, 205);
    width: 300px;
    height: 95vh;
}

#nav-bar{
    background-color: #1e3d59;
}


#title{
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 2.5px;
    padding: 20px;
}
